.tji-btn {
	
	a {
    background-color: $primaryRed;
    padding: .6em 1em .4em;
    border-radius: .25rem;
    color: #fff;
    box-shadow: 1px 1px 3px rgba(64,64,64,0.5);
    transition: all 0.35s;
    width: 200px;
    margin: 0 auto;
    
    &:hover {
	    background-color: $secondaryRed;
    }
    
    @media (min-width: $tji-break-point-sm) {
	    margin-top: -10px;
	    width: auto;
    }
	}
	
}

.tji-btn-download {
  padding: $tji-spacing-sm $tji-spacing-lg;
}

.tji-btn-primary {
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-size: $tji-font-size-xs;
  color: white;
  background-color: $primaryBlue;
  &:hover {
    background-color: lighten($primaryBlue, 3%);
  }
  &:disabled {
    opacity: 0.1;
    cursor: wait;
  }
  &:enabled {
    opacity: 1.0;
    @include transition(opacity, 1s);
  }
}

.tji-form-submit {
  background-color: $primaryBlue !important;
  color: #fff !important;
  width: 150px !important;
  text-transform: uppercase !important;
  transition: all 0.35s !important;
	border: 1px solid #ddd !important;
	font-size: 1em !important;
	padding: 10px 15px !important; 
	border-radius: 0 !important;
	 
  &:hover {
    background-color: $secondaryBlue !important;
  }
}