/*--------------------------------------------------------------
## CHARTS
--------------------------------------------------------------*/

.tji-chartview {
  min-height: 400px;
  position: relative;
}
.tji-chartview__loader-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  justify-content: center;
  left:0;
  padding-top: 140px;
  position: absolute;
  right:0;
  top:0;
  z-index: 1;
}
.tji-chartview__loader {
    border: 16px solid $tji-color-gray-lightest;
    border-top: 16px solid $primaryBlue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tji-chartview__summary {
    margin-bottom: $tji-spacing-lg;
}

.tji-chartview__select-set-prompt {
  color: $primaryBlue;
  font-weight:  $font__weight-bold;
}

.tji-chartview__description {
  padding-top: $tji-spacing-md;
}

.tji-chartview__record-count {
    font-size: $tji-font-size-md;
    margin-right: $tji-spacing-lg;
}
.tji-chartview__count-number {
    color: $primaryRed;
}

.tji-chartview__chart {  
  border: 1px solid $tji-color-gray-light;
  padding: $tji-spacing-md $tji-spacing-sm;

  &:nth-of-type(2n) {
    background-color: $tji-color-gray-lightest;
  }
  
  @media (min-width: $tji-break-point-md) {
    max-width: calc(50% - #{$tji-spacing-sm});
    background-color: $tji-color-gray-lightest;
    margin: $tji-spacing-xs;
  }

  @media (min-width: $tji-break-point-lg) {
    max-width: calc(33.33% - #{$tji-spacing-sm});
  }
}

.tji-chart__title {
  @include font-size(1.5);
  text-align: center;
  text-transform: capitalize;
  font-weight: $font__weight-bold;
}

.tji-chart__legend {
  display: flex;
  flex-wrap: wrap;
}

.tji-chart__legend-item {
  display: flex;
  width: 100%;
  margin: $tji-spacing-xs/2;
  text-transform: lowercase;
}

.tji-chart__legend-item-marker {
  height: $tji-chart-legend-size;
  margin-right: $tji-spacing-xs;
  width: $tji-chart-legend-size;
}

.tji-chart__legend-item-description {
	font-size: $tji-font-size-sm;
	line-height: $tji-line-height-xs;
}