/*--------------------------------------------------------------
## CHARTS
--------------------------------------------------------------*/
.tji-chart-title {
  @include font-size(2);
}

.tji-chart-legend {
  display: flex;
  flex-wrap: wrap;
}
.tji-chart-legend__item {
  align-items: center;
  display: flex;
  margin: 0 $tji-spacing-xs;
  text-transform: lowercase;
  white-space: nowrap;

  span {
    height: $tji-chart-legend-size;
    margin-right: $tji-spacing-xs;
    width: $tji-chart-legend-size;
  }
}
