/*--------------------------------------------------------------
## FILTERS
--------------------------------------------------------------*/
.tji-chartview-filters {}

.tji-chartview-filters__filter-legend {
  text-transform: capitalize;
  svg {
    @include transition(transform, .5s);
  }
  &.is-collapsed {
    svg {
      @include transform(rotate(180deg));
    }
  }
}

.tji-chartview-filters__filter-set {
  @include transition(max-height, .5s);
  max-height: 500px;
  overflow-y: hidden;

  &.is-collapsed {
    max-height: 0;     
  }
}

.tji-chartview-filters__filter {
  label {
    text-transform: capitalize;
  }
}