/*--------------------------------------------------------------
## FILTERS
--------------------------------------------------------------*/
.tji-chartview-content {
	@media screen and (min-width: #{$tji-break-point-xs}) {
		width: calc(100% - 20rem) !important;
	}
}

.tji-chartview-filter {
	@media screen and (min-width: #{$tji-break-point-xs}) {
		width: 20rem !important;
	}
}

.tji-chartview-filters__filter-legend {
  padding: 0 $tji-spacing-xs;
  text-transform: uppercase;
  &:hover { color: $primaryYellow }
  cursor: pointer;
  
  svg {
    @include transition(transform, .5s);
    margin: 0 $tji-spacing-xs;
  }
  &.is-collapsed {
    svg {
      @include transform(rotate(180deg));
    }
  }
}

.tji-chartview-filters__filter-set {
  @include transition(max-height, .5s);
  max-height: 500px;
  overflow-y: hidden;
  a { cursor: pointer   }

  &.is-collapsed {
    max-height: 0;     
  }
}
.tji-chartview-filters__fieldset {
  margin: $tji-spacing-md 0;
}

.tji-chartview-filters__filter {
  label {
    text-transform: capitalize;
    margin: 0 $tji-spacing-xs;
  }
}