/* Load Museo */
@font-face {
    font-family: 'museo';
    src: url('./fonts/museo_slab_500-webfont.woff2') format('woff2'),
         url('./fonts/museo_slab_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'museo_italic';
    src: url('/fonts/museo_slab_500italic-webfont.woff2') format('woff2'),
         url('/fonts/museo_slab_500italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/