.tji-chart-record-count {
    font-size: $tji-font-size-sm;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $primaryBlue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

.tji-charts-download-button {
    @extend %bootstrap-button-secondary;
    font-size: $tji-font-size-xs;
    margin-left: $tji-spacing-lg;
    opacity: 0.1;
    &:disabled {
        cursor: wait;
    }
    &:enabled {
        @include transition(1s);
        opacity: 1.0;
    }
}

.tji-above-charts {
    margin-bottom: $tji-spacing-lg;
}