/* colors */
$primaryBlue: #0B5D93;
	$secondaryBlue: #252939;
$primaryRed: #CE2727;
	$secondaryRed: #872729;
$primaryYellow: #F1AB32;

/* fonts */
$headingFont: 'museo', Arial, sans-serif;
$bodyFont: 'Raleway', sans-serif; //400, 600 weight