/* colors */
$primaryBlue: #0B5D93;
	$secondaryBlue: #252939;
$primaryRed: #CE2727;
	$secondaryRed: #872729;
$primaryYellow: #FFFD00;

/* fonts */
$headingFont: 'museo', Arial, sans-serif;
$bodyFont: 'Raleway', sans-serif; //400, 600 weight

/* spacing */
$tji-spacing-xs: .5rem;
$tji-spacing-s: 1rem;
$tji-spacing-m: 1.5rem;
$tji-spacing-l: 2rem;
$tji-spacing-xl: 3rem;

/* typography */
$tji-font-size-xs: 1.4rem;
$tji-font-size-s: 1.7rem;
$tji-font-size-m: 2.6rem;
$tji-font-size-l: 3.6rem;
$tji-font-size-xl: 4.4rem;

$tji-line-height-xs: 2.4rem;
$tji-line-height-s: 2.7rem;
$tji-line-height-m: 3.6rem;
$tji-line-height-l: 4.6rem;
$tji-line-height-xl: 5.4rem;

$tji-chart-legend-size: 1rem;